div#blogcontenido {
    background-color: #42306A;
    height: 900px;
}

div#listaentradas {
    background-color: #42306A;
    width: 835px;
    float: left;
}

div.entrada {
    background-color: #dfdfdf;
    width: 800px;
    height: 200px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

div.entradaimg {
    float: left;
    background-color: #14092B;
    width: 250px;
    height: 150px;
    margin-left: 20px;
    margin-top: 25px;
}

div.entradatexto {
    float: left;
    height: 150px;
    margin-left: 20px;
    margin-top: 25px;
    width: 480px
}

div.entradatexto div {
    color: #14092B;
}

div.entradatexto>div:nth-child(1) {
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.4);
}

div.entradatexto>div:nth-child(1)+div {
    margin: 5px;
    text-align: justify;
}

div.entradatexto button {
    margin-top: 10px;
    float: left;
    background-color: #14092B;
}

div.cajainfo {
    margin-top: 44px;
    /* border: 1px solid brown; */
    height: 20px;
}

div.cajainfo>div {
    /* border: 1px solid salmon; */
    float: left;
    margin: 24px;
    height: 10px;

}

div.cajainfo a {
    color: #14092B;
    text-decoration: underline;
}

div#bannerderecho {
    /* border: 1px solid red; */
    background-color: #dfdfdf;
    width: 310px;
    float: right;
    height: 860px;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
}

div#buscador {
    /* border: 1px solid rebeccapurple; */
    margin-top: 5px;
    margin-bottom: 10px;
}

input.inputbuscador {
    height: 20px;
    margin-left: 50px;
}

input.botonenviar {
    height: 20px;
    width: 55px;
}

div#categorias {
    /* border: 1px solid snow; */
    background-color: #dfdfdf;
    padding-top: 25px;
    height: 125px;
}

div#categorias p {
    /* border: 1px solid teal; */
    background-color: #dfdfdf;
    color: #14092B;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #14092B;
}

div#categorias>ul>li {
    /* border: 1px solid palegoldenrod; */
    list-style: circle;
    color: #42306A;
    padding: 5px;
}

div#categorias>ul>li>a {
    list-style: circle;
    color: #42306A;
}

div#videowidget {
    /* border: 1px solid gold; */
    /* border: 1px solid red; */
    margin-top: 20px;
    height: 320px;
}

div.descripcionlarga {
    background-color: #dfdfdf;
    top: 220px;
    left: 0px;
    height: 200px;
    width: 800px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

div.descripcionlarga div {
    color: #14092B;
    /* border: 1px solid black; */
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    font-size: larger;
}

div#categorias ul li:hover {
    font-weight: bold;
}

div.cajainfo a:hover {
    font-weight: bold;
}