/* <div id="detalles">
            <div id="imagen">
            </div>
            <div id="detallescontenido">
                <div id="textodetalles">
                </div>
                <div id="botonesdetalles">
                    <div>Más información</div>
                    <div>Volver atrás</div>
                </div>
            </div> */

div#detalles {
    background-color: #42306A;
}

div#imagen {
    border: 1px solid #dfdfdf;
    height: 700px;
    width: 550px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    float: left;
}

div#imagen>div {
    height: 690px;
    width: 540px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: #dfdfdf;
}

div#detallescontenido {
    float: left;
    border: 1px dashed white;
    height: 700px;
    width: 550px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}


div#botonesdetalles {
    height: 20%;
    padding-top: 40px;
}

div#botonesdetalles div:nth-child(1) {
    background-color: #14092B;
    height: 20px;
    width: 200px;
    border-radius: 30px;
    padding: 20px;
    margin-left: 20px;
    float: left;
}

div#botonesdetalles div:nth-child(2) {
    background-color: #14092B;
    height: 20px;
    float: right;
    padding: 20px;
    border-radius: 30px;
    margin-right: 20px;
    width: 100px;
}

div#textodetalles {
    height: 80%;
}

div#textodetalles p:nth-child(1) {
    padding: 10px;
    font-size: 30px;
}

div#textodetalles p:nth-child(2) {
    padding: 10px;
    font-size: 20px;
}

div#textodetalles p:nth-child(3) {
    text-align: justify;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}


div#textodetalles p.listadetalles {
    padding-top: 40px;
    padding-left: 10px;
}

div#textodetalles p.listadetalles+p {
    padding-left: 10px;
}