div#contenidosocios {
    background-color: #42306A;
    width: 1170px;
    /* height: 1500px; */
}

div#contenidosocios>div:nth-child(1) {
    background-color: #dfdfdf;
    border-left: 1px solid #42306A;
    border-right: 1px solid #42306A;
    height: 20px;
    padding: 5px;
    display: flex;
    padding-top: 5px;
}

div#contenidosocios div:nth-child(1) a {
    margin-left: 10px;
    margin-right: 10px;
    margin: 0px auto;
    color: #14092B;
}

div#contenidosocios div:nth-child(1) a+p {
    color: #14092B;
}

div#contenidosocios div:nth-child(1) a:hover {
    text-shadow: 1px 1px 0px #42306A;
    font-weight: bold;
}

div#descripcion {
    /* border: 1px solid red; */
}

div#tarjeta {
    /* border: 2px solid #dfdfdf; */
    background-color: #dfdfdf;
    width: 250px;
    height: 240px;
    float: left;
    margin: 19px;
    border-radius: 5px;
}

div.superior {
    /* border: 3px solid palegoldenrod; */
    position: relative;
    top: 0px;
    height: 60%;
}

div.inferior {
    /* border: 1px solid yellowgreen; */
    position: relative;
    top: 10px;
    height: 50px;
}

div#tarjeta>div>div {
    border: 1px solid #dfdfdf;
    margin: 5px;
    width: 110px;
    height: 130px;
    display: flex;
    float: left;
    /* background-color: #42306A; */
}

div#tarjeta div div img {
    width: 100px;
    height: 120px;
    display: block;
}

p.nombre {
    margin: 5px;
    /* border: 1px solid red; */
    width: 110px;
    height: 60px;
    display: block;
    float: left;
    text-align: center;
    color: #dfdfdf;
    border-radius: 5px;
    background-color: #42306A;
}

p.nombre strong {
    font-size: larger;
}

p.fechanacimiento {
    margin: 5px;
    /* border: 1px solid white; */
    width: 110px;
    height: 40px;
    display: block;
    float: left;
    text-align: center;
    color: #dfdfdf;
    border-radius: 5px;
    padding-top: 20px;
    background-color: #42306A;
}

p.puntuacion {
    margin: 5px;
    border: 1px solid #42306A;
    width: 110px;
    height: 50px;
    display: block;
    float: left;
    margin-right: 10px;
    text-align: center;
    color: #dfdfdf;
    border-radius: 5px;
    background-color: #42306A;
}

p.cargo {
    margin: 5px;
    border: 1px solid #dfdfdf;
    width: 110px;
    height: 50px;
    display: block;
    float: left;
    text-align: center;
    color: #dfdfdf;
    border-radius: 5px;
    background-color: #42306A;

}

div.volver {
    /* border: 1px solid magenta; */
    height: 50px;
}

div.volver a {
    /* border: 1px solid gainsboro; */
    float: right;
    margin-right: 40px;
}